.estilo_header {
    background-color: #000; // Color de fondo
    color: #fff; // Color del texto
    font-size: 1.5rem; // Tamaño del texto
    text-align: center; // Alineación del texto
    border-bottom: 2px solid #ddd; // Borde inferior

    strong {
      font-weight: bold; // Negrita para el título
      margin-left: 10px; // Margen izquierdo para el título
    }

    // Estilo para la sombra en el header
    --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: var(--box-shadow);
  }
  