<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>conductor</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-card>
    <form [formGroup]="formConductor">
      <ion-item>
        <ion-label position="floating">Usuario:</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input formControlName="vehiculo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repita contraseña:</ion-label>
        <ion-input formControlName="capacidad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repita contraseña:</ion-label>
        <ion-input formControlName="precio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repita contraseña:</ion-label>
        <ion-input formControlName="destino"></ion-input>
      </ion-item> -->
      <!-- fin inputs -->
      <!-- boton para iniciar -->
<!--       <ion-button expand="block" (click)="registrarConductor()">Registrar</ion-button>
      <ion-button expand="block" href="login">volver al login</ion-button>
    </form>
  </ion-card>
</ion-content> -->